
<br><b>Sentimental Analyze</b><br>
<table border="1px" style="table-layout:fixed >
<tbody border="1px" width="100px" height="200px" >
              <!--<td height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"> </td> -->
        
    <td>
        <table  width="100px" height="200px">
            <tbody>
             
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="5%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="1%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="3%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="7%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="51%" cellspacing="0" class="perc_filled"  bgcolor="#FF0000" align="center">51%</td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="17%" cellspacing="0" class="perc_filled"  bgcolor="#FFCC00" align="center">17%</td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="7%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="1%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             <tr>
              <td  height =""  cellspacing="0" class="perc_filled"  bgcolor="" align="center"></td>
             </tr>
             <tr>
              <td  height ="1%" cellspacing="0" class="perc_filled"  bgcolor="#0099FF" align="center"></td>
             </tr>
            </tbody>
        </table>
    </td>

    <td>
        <table  width="100px" height="200px">
            <tbody>
             
            </tbody>
        </table>
    </td>

    <tr>
               <!--<td  style="word-break:break-all;" align="center" ></td> -->
    
            <td  style="word-break:break-all;" align="center" >-5</td>

            <td  style="word-break:break-all;" align="center" >-4</td>

            <td  style="word-break:break-all;" align="center" >-3</td>

            <td  style="word-break:break-all;" align="center" >-2</td>

            <td  style="word-break:break-all;" align="center" >-1</td>

            <td  style="word-break:break-all;" align="center" >0</td>

            <td  style="word-break:break-all;" align="center" >1</td>

            <td  style="word-break:break-all;" align="center" >2</td>

            <td  style="word-break:break-all;" align="center" >3</td>

            <td  style="word-break:break-all;" align="center" >4</td>

            <td  style="word-break:break-all;" align="center" >5</td>

    </tr>
</tbody>
</table>
